# Upload yellow_tripdata_2021-01.csv file

In [1]:
import pandas as pd
pd.__version__

'2.0.3'

In [3]:
df = pd.read_csv('/Users/hoang.hai.pham/Documents/code/Tutorials/DataEngineer/data/yellow_tripdata_2021-01.csv', nrows=1000)

In [4]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [5]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [6]:
# Convert dataframe to DDL (Data Definition Language)
# that is used for specifying the schema
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [8]:
# iterator allows us to chunk the csv file into smaller dataframes
df_iter = pd.read_csv('/Users/hoang.hai.pham/Documents/code/Tutorials/DataEngineer/data/yellow_tripdata_2021-01.csv',
                    iterator=True, chunksize=100000)

In [9]:
# next() in python is a function that returns the next element in an iterator.
df = next(df_iter)

In [10]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [11]:
# 'REPLACE': CREATE the table
# database with the exising name will be dropped and newly created
# if not exist then it will not do anything
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [12]:
# 'APPEND': Insert new values to the existing table
# %time shows how much time to run the code
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 4.32 s, sys: 148 ms, total: 4.47 s
Wall time: 10 s

1000

In [13]:
from time import time

In [14]:
while True:
  t_start = time()
  
  df = next(df_iter)
  
  df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
  df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
  
  df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
  
  t_end = time()
  
  print('inserted another chunk, took %.3f seconds' % (t_end - t_start))

inserted another chunk, took 10.103 seconds
inserted another chunk, took 9.545 seconds
inserted another chunk, took 9.459 seconds
inserted another chunk, took 9.171 seconds
inserted another chunk, took 9.361 seconds
inserted another chunk, took 9.159 seconds
inserted another chunk, took 9.393 seconds
inserted another chunk, took 9.800 seconds
inserted another chunk, took 9.393 seconds
inserted another chunk, took 9.831 seconds
inserted another chunk, took 9.632 seconds

/var/folders/pn/cr_hrpn92w7gg2007pwp97dr0000gs/T/ipykernel_90970/2841524475.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 9.214 seconds
inserted another chunk, took 6.154 seconds

StopIteration:

# Upload taxi_zone_lookup.csv file

In [1]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+zone_lookup.csv

zsh:1: command not found: wget

In [3]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [4]:
df_zones = pd.read_csv('/Users/hoang.hai.pham/Documents/code/Tutorials/DataEngineer/data/taxi+_zone_lookup.csv')

In [5]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [6]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265