In [2]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
  .master("local[*]") \
  .appName("test") \
  .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/21 21:50:01 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Question 2

In [1]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-04-21 21:49:49--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240421%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240421T194949Z&X-Amz-Expires=300&X-Amz-Signature=21f022c6187caf1d0f3a8189eb92e4dcf0f9727f65caaf5d69d1384c206b6119&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-04-21 21:49:49--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240421%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240421T194949Z&X-Amz-Expires=300&X-Amz-Signature=21f022c6187caf1d0f3a8189eb92e4dcf0f9727f65caaf5d69d1384c206b6119&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘fhv_tripdata_2019-10.csv.gz’

fhv_tripdata_2019-1 100%[===================>]  18,48M  10,4MB/s    in 1,8s

2024-04-21 21:49:51 (10,4 MB/s) - ‘fhv_tripdata_2019-10.csv.gz’ saved [19375751/19375751]

In [7]:

!gzip -f -d fhv_tripdata_2019-10.csv.gz

In [11]:
!wc -l fhv_tripdata_2019-10.csv

 1897494 fhv_tripdata_2019-10.csv

In [9]:
df = spark.read \
    .option("header", "true") \
    .csv("../../../data/homework_week5_data/fhv_tripdata_2019-10.csv")

In [10]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   NULL|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   NULL|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   NULL|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   NULL|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   NULL|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   NULL|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   NULL|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   NULL|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   NULL|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   NULL|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   NULL|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   NULL|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   NULL|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   NULL|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   NULL|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   NULL|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [12]:
!head -n 1001 fhv_tripdata_2019-10.csv > head.csv

In [13]:
import pandas as pd
df_pandas = pd.read_csv("../../../data/homework_week5_data/head.csv")

In [14]:
spark.createDataFrame(df_pandas).schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', DoubleType(), True), StructField('DOlocationID', DoubleType(), True), StructField('SR_Flag', DoubleType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [16]:
from pyspark.sql import types
schema = types.StructType([
  types.StructField('dispatching_base_num', types.StringType(), True),
  types.StructField('pickup_datetime', types.TimestampType(), True),
  types.StructField('dropOff_datetime', types.TimestampType(), True),
  types.StructField('PUlocationID', types.IntegerType(), True),
  types.StructField('DOlocationID', types.IntegerType(), True),
  types.StructField('SR_Flag', types.StringType(), True),
  types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [17]:
df = spark.read \
  .option("header", "true") \
  .schema(schema) \
  .csv("../../../data/homework_week5_data/fhv_tripdata_2019-10.csv")

In [18]:
df.head(5)

[Row(dispatching_base_num='B00009', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 23), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 35), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00009'),
 Row(dispatching_base_num='B00013', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 11, 29), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 13, 22), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00013'),
 Row(dispatching_base_num='B00014', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 11, 43), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 37, 20), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00014', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 56, 29), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 57, 47), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00014', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 23, 9), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 28, 27), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00014')]

In [19]:
df.repartition(6).write.parquet('../../../data/fhvhv_partitions/2019/10')

In [20]:
!ls -lah ../../../data/fhvhv_partitions/2019/10

total 75080
drwxr-xr-x@ 16 hoang.hai.pham  staff   512B Apr 21 21:58 .
drwxr-xr-x@  3 hoang.hai.pham  staff    96B Apr 21 21:58 ..
-rw-r--r--@  1 hoang.hai.pham  staff     8B Apr 21 21:58 ._SUCCESS.crc
-rw-r--r--@  1 hoang.hai.pham  staff    47K Apr 21 21:58 .part-00000-80118354-6a12-4944-8dd8-4e05b0002661-c000.snappy.parquet.crc
-rw-r--r--@  1 hoang.hai.pham  staff    47K Apr 21 21:58 .part-00001-80118354-6a12-4944-8dd8-4e05b0002661-c000.snappy.parquet.crc
-rw-r--r--@  1 hoang.hai.pham  staff    47K Apr 21 21:58 .part-00002-80118354-6a12-4944-8dd8-4e05b0002661-c000.snappy.parquet.crc
-rw-r--r--@  1 hoang.hai.pham  staff    47K Apr 21 21:58 .part-00003-80118354-6a12-4944-8dd8-4e05b0002661-c000.snappy.parquet.crc
-rw-r--r--@  1 hoang.hai.pham  staff    47K Apr 21 21:58 .part-00004-80118354-6a12-4944-8dd8-4e05b0002661-c000.snappy.parquet.crc
-rw-r--r--@  1 hoang.hai.pham  staff    47K Apr 21 21:58 .part-00005-80118354-6a12-4944-8dd8-4e05b0002661-c000.snappy.parquet.crc
-rw-r--r--@  1 hoang.hai.pham  staff     0B Apr 21 21:58 _SUCCESS
-rw-r--r--@  1 hoang.hai.pham  staff   5.9M Apr 21 21:58 part-00000-80118354-6a12-4944-8dd8-4e05b0002661-c000.snappy.parquet
-rw-r--r--@  1 hoang.hai.pham  staff   5.9M Apr 21 21:58 part-00001-80118354-6a12-4944-8dd8-4e05b0002661-c000.snappy.parquet
-rw-r--r--@  1 hoang.hai.pham  staff   5.9M Apr 21 21:58 part-00002-80118354-6a12-4944-8dd8-4e05b0002661-c000.snappy.parquet
-rw-r--r--@  1 hoang.hai.pham  staff   5.9M Apr 21 21:58 part-00003-80118354-6a12-4944-8dd8-4e05b0002661-c000.snappy.parquet
-rw-r--r--@  1 hoang.hai.pham  staff   5.9M Apr 21 21:58 part-00004-80118354-6a12-4944-8dd8-4e05b0002661-c000.snappy.parquet
-rw-r--r--@  1 hoang.hai.pham  staff   5.9M Apr 21 21:58 part-00005-80118354-6a12-4944-8dd8-4e05b0002661-c000.snappy.parquet

# Question 3

In [21]:
# Need to let spark know that this dataframe is a table
# => register a temporary table for this dataframe
df.registerTempTable('fhv_2019_10_table')

/usr/local/Cellar/apache-spark/3.5.0/libexec/python/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [22]:
spark.sql("""
  SELECT count(*)
  FROM fhv_2019_10_table
  WHERE DATE(pickup_datetime) = '2019-10-15'
""").show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

# Question 4

In [26]:
spark.sql("""
  SELECT pickup_datetime, dropOff_datetime,
  timestampdiff(hour, pickup_datetime, dropOff_datetime) AS duration
  FROM fhv_2019_10_table
  ORDER BY duration DESC
""").show()

+-------------------+-------------------+--------+
|    pickup_datetime|   dropOff_datetime|duration|
+-------------------+-------------------+--------+
|2019-10-28 09:00:00|2091-10-28 09:30:00|  631152|
|2019-10-11 18:00:00|2091-10-11 18:30:00|  631152|
|2019-10-31 23:46:33|2029-11-01 00:13:00|   87672|
|2019-10-01 21:43:42|2027-10-01 21:45:23|   70128|
|2019-10-17 14:00:00|2020-10-18 00:00:00|    8794|
|2019-10-26 21:26:00|2020-10-26 21:36:00|    8784|
|2019-10-30 12:30:04|2019-12-30 13:02:08|    1464|
|2019-10-25 07:04:57|2019-12-08 07:21:11|    1056|
|2019-10-25 07:04:57|2019-12-08 07:54:33|    1056|
|2019-10-01 07:21:12|2019-11-03 08:44:21|     793|
|2019-10-01 13:41:00|2019-11-03 14:58:51|     793|
|2019-10-01 13:47:17|2019-11-03 15:20:28|     793|
|2019-10-01 05:18:52|2019-11-03 05:48:17|     792|
|2019-10-01 06:54:57|2019-11-03 07:22:01|     792|
|2019-10-01 05:34:32|2019-11-03 05:49:22|     792|
|2019-10-01 02:30:01|2019-11-03 03:02:02|     792|
|2019-10-01 05:06:06|2019-11-03 05:24:37|     792|
|2019-10-01 04:29:49|2019-11-03 04:56:10|     792|
|2019-10-01 05:36:30|2019-11-03 06:23:36|     792|
|2019-10-01 05:11:04|2019-11-03 05:13:25|     792|
+-------------------+-------------------+--------+
only showing top 20 rows

# Question 6

In [27]:
df_zone = spark.read \
  .option("header", "true") \
  .csv("../../../data/taxi+_zone_lookup.csv")

In [28]:
df_zone.take(5)

[Row(LocationID='1', Borough='EWR', Zone='Newark Airport', service_zone='EWR'),
 Row(LocationID='2', Borough='Queens', Zone='Jamaica Bay', service_zone='Boro Zone'),
 Row(LocationID='3', Borough='Bronx', Zone='Allerton/Pelham Gardens', service_zone='Boro Zone'),
 Row(LocationID='4', Borough='Manhattan', Zone='Alphabet City', service_zone='Yellow Zone'),
 Row(LocationID='5', Borough='Staten Island', Zone='Arden Heights', service_zone='Boro Zone')]

In [29]:
df_zone.registerTempTable('lookup_zone_table')

/usr/local/Cellar/apache-spark/3.5.0/libexec/python/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [30]:
spark.sql("""
  SELECT *
  FROM lookup_zone_table LIMIT 100;
""").show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [38]:
spark.sql("""
  SELECT * FROM
  (
    SELECT PUlocationID, count(1) AS count
    FROM fhv_2019_10_table
    GROUP BY PUlocationID
  ) AS fhv_data
  LEFT JOIN lookup_zone_table
  ON fhv_data.PUlocationID = lookup_zone_table.LocationID
  ORDER BY fhv_data.count ASC
""").show()

+------------+-----+----------+-------------+--------------------+------------+
|PUlocationID|count|LocationID|      Borough|                Zone|service_zone|
+------------+-----+----------+-------------+--------------------+------------+
|           2|    1|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         105|    2|       105|    Manhattan|Governor's Island...| Yellow Zone|
|         111|    5|       111|     Brooklyn| Green-Wood Cemetery|   Boro Zone|
|          30|    8|        30|       Queens|       Broad Channel|   Boro Zone|
|         120|   14|       120|    Manhattan|     Highbridge Park|   Boro Zone|
|          12|   15|        12|    Manhattan|        Battery Park| Yellow Zone|
|         207|   23|       207|       Queens|Saint Michaels Ce...|   Boro Zone|
|          27|   25|        27|       Queens|Breezy Point/Fort...|   Boro Zone|
|         154|   26|       154|     Brooklyn|Marine Park/Floyd...|   Boro Zone|
|           8|   29|         8|       Queens|        Astoria Park|   Boro Zone|
|         128|   39|       128|    Manhattan|    Inwood Hill Park|   Boro Zone|
|         253|   47|       253|       Queens|       Willets Point|   Boro Zone|
|          96|   53|        96|       Queens|Forest Park/Highl...|   Boro Zone|
|          34|   57|        34|     Brooklyn|  Brooklyn Navy Yard|   Boro Zone|
|          59|   62|        59|        Bronx|        Crotona Park|   Boro Zone|
|          58|   77|        58|        Bronx|        Country Club|   Boro Zone|
|          99|   89|        99|Staten Island|     Freshkills Park|   Boro Zone|
|         190|   98|       190|     Brooklyn|       Prospect Park|   Boro Zone|
|          54|  105|        54|     Brooklyn|     Columbia Street|   Boro Zone|
|         217|  110|       217|     Brooklyn|  South Williamsburg|   Boro Zone|
+------------+-----+----------+-------------+--------------------+------------+
only showing top 20 rows